---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "PT Sans", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;
// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "color"
;


/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: $base-font-weight;
}



/**
 * Links
 */
a {
    text-decoration: none;

    &:hover {
        border-bottom: 1px dotted;
    }

    &.page-link:hover {
        border-bottom: 1px dotted;
    }
    &.postLink:hover{
        border-bottom: 1px dotted;
    }
    &.post-title-link:hover{
        border-bottom: 1px dotted !important;
    }
}



/**
 * Blockquotes
 */
blockquote {
    border-left: 4px solid;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}


/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
    }
}

.post {
  font-family: "Source Sans Pro";
  font-size: 18px;
  font-weight: 300;
  padding-top: 0;
}
.home{
  padding-bottom: 5em;
}
.download {
  padding: 10px;
}
.authorKeyword {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
  text-indent: 2px;
  padding-top:0.5em;
}
.writtenBy {
  letter-spacing: 0;
  text-indent: 0;
  text-transform: uppercase;
}
.archive-intro {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-indent: 2px;
}
.archiveIntro {
  text-align: center;
}
.hint {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 2px;
  text-indent: 2px;
}
.example {
  font-family: 'Menlo';
  padding: 10px;
}
.manual {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 2px;
  text-indent: 2px;
}
.postContent {
  padding-top: 3.5em;
  text-align: center;
}
.postDate {
  float: left;
  text-transform: uppercase;
  font-family: "Source Sans Pro";
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 2px;
  text-indent: 2px;
}
.postTag {
  float: right;
}
.postTitle {
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-indent: 3px;
}
/**
 * Site header
 */
.site-header {
  border-top: 5px solid;
  border-bottom: 1px solid;
  min-height: 56px;
  // Positioning context for the mobile navigation icon
  position: relative;
}
.site-title {
  font-size: 64px;
  font-weight: 100;
  font-family: 'PT Sans';
  text-transform: capitalize;
  font-weight: 500;
  margin-top: 1em;
}
.site-description {
  font-size: 14px;
  letter-spacing: 2px;
  text-indent: 6px;
  font-family: 'Josefin Sans';
}
.exclamationMark {
  padding-left: 2em;
  padding-right: 2em;
}
.site-navigation {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 2px;
  text-indent: 6px;
  font-family: 'Josefin Sans';
  font-weight: 300;
  padding-top: 3em;
}
.page-title {
  text-transform: uppercase;
  letter-spacing: 2px;
  text-indent: 2px;
  font-family: "PT Sans";
  font-size: 12px;
  text-align:center;
}
.page-tagline {
  font-size: 18px;
  font-family: "PT Sans";
  text-align: center;
  text-transform: lowercase;
}
.site-nav {
  .page-link {
    line-height: $base-line-height;
    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    border-radius: 5px;
    text-align: right;
    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;
      > svg {
        width: 18px;
        height: 15px;
      }
    }
    .trigger {
      clear: both;
      display: none;
    }
    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }
    .page-link {
      display: block;
      padding: 5px 10px;
      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}
/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid;
  padding: $spacing-unit 0;
}
.footer-heading {
  font-size: 18px;
  margin-bottom: $spacing-unit / 2;
}
.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}
.small-site-title {
  font-family: "PT Sans";
}
.footer-col-wrapper {
  font-size: 15px;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}
.footer-content {
  font-family: "Josefin Sans";
  font-weight: 300;
  letter-spacing: 1px;
}
.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}
.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width: calc(35% - (#{$spacing-unit} / 2));
}
.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width: calc(20% - (#{$spacing-unit} / 2));
}
.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width: calc(45% - (#{$spacing-unit} / 2));
}
@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width: calc(50% - (#{$spacing-unit} / 2));
  }
  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}
@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width: calc(100% - (#{$spacing-unit} / 2));
  }
}
/**
 * Page content
 */
.page-content {
  padding: 0;
}
.page-heading {
  font-size: 20px;
}
.post-list {
  margin-left: 0;
  list-style: none;
  > li {
    margin-bottom: $spacing-unit;
  }
}
.post-meta {
  font-size: $small-font-size;
  text-transform: uppercase;
  font-size: 16px;
}
.post-link {
  display: block;
  font-size: 24px;
}
/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
  margin-top: 2rem;
}
.post-title {
  font-size: 36px;

  text-align: center;
  font-family: "PT Sans";
  font-weight: 900;
  @include media-query($on-laptop) {
    font-size: 36px;
  }
}
.post-content {
  margin-bottom: $spacing-unit;
  padding-bottom: 3em !important;
  p {
    font-size: 1rem;
  }
  ul {
    font-size: 1rem;
  }
  ol {
    font-size: 1rem;
  }
  table {
    font-size: 1rem;
  }
  .highlight {
    font-size: 0.9rem;
  }
  img:not([alt=leezw]):not([class=picture]) {
    width: 70%;
    display: block;
    margin: 0 auto;
    max-height: 20rem;
    object-fit: cover;
  }
  // h2 {
  //   font-size: 32px;
  //   @include media-query($on-laptop) {
  //     font-size: 28px;
  //   }
  // }
  // h3 {
  //   font-size: 26px;
  //   @include media-query($on-laptop) {
  //     font-size: 22px;
  //   }
  // }
  // h4 {
  //   font-size: 20px;
  //   @include media-query($on-laptop) {
  //     font-size: 18px;
  //   }
  // }
}
.top-line {
  height: 2px;
  width: 100%;
  background-color: red;
  position: fixed;
  z-index:9000;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.logo {
  height: 2rem;
  width: 2rem;
  float: right;
  margin-top:-1rem;
}
.picture {
  float: left;
  margin-left: em;
  margin-top: 1em;
  margin-bottom: 1em;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 800px){
  .picture {
     margin-left: 1em;
     width: 30%;
  }
}
/**
 * Pagination
 */
 .pagination {
     padding-top: 3.5em;
     text-align: center;
 }
 .paginationLink {
     border: 0;
     display: inline-block;
     padding: 5px;
     text-decoration: none;
     transition: color 200ms ease-out;

     &:hover,
     &:active,
     &:focus {
         border: 0;
     }
 }
 .paginationLinkCurrent {
     font-style: normal;
 }

.postNavigation {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 3em;

    a:only-child {
        width: 100%;
    }
}
.postPrev,
.postNext {
    display: inline-block;
    width: 49%;
    &:hover,
    &:active,
    &:focus {
        border: 0;
    }
}
.postNext {
    text-align: right;
}


/**
*条幅
*/
.forkongithub-a {
    pointer-events:all;
    background: #ffffff;
    color: #ffffff;
    text-decoration: none;
    font-family: arial, sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 5px 40px;
    font-size: 1rem;
    line-height: 1.5rem;
    position: relative;
    transition: 0.5s;
}

.forkongithub-a:hover {
    background: rgb(255, 255, 255);
    color: #fff;
}

.forkongithub-a::before,
.forkongithub-a::after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    top: 1px;
    left: 0;
    height: 1px;
    background: rgb(255, 255, 255);
}

.forkongithub-a::after {
    bottom: 1px;
    top: auto;
}

.forkongithub {
    pointer-events:none;
    position: fixed;
    display: block;
    top: -1.5rem;
    left: -1.5rem;
    width: 12rem;
    overflow: hidden;
    height: 12rem;
    z-index: 8000;
}

.forkongithub-a {
    width: 200px;
    position: absolute;
    top: 60px;
    left: -60px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
}
