
<!-- <div class="wrapper"> -->
  <span class="forkongithub"><a class="forkongithub-a" href="/index.html">{{site.title}}<br/></a></span>
  <div class="top-line"></div>
  <!-- <center>  
    <a href="/index.html"><div class="site-title">   {{site.title}} </div></a>
  </center> -->
<!-- </div> -->
<!-- <div class="wrapper site-description">
<center>  {{site.description}} </center>
</div> -->
<div class="wrapper">
  <div class="trigger site-navigation">
    <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>

    {% for sitePage in site.pages %}
    {% if sitePage.title %}

    <span class="exclamationMark">/</span><a class="page-link" href="{{sitePage.url | prepend: site.baseurl }}">{{sitePage.title}}</a>
    {% endif %}
    {% endfor %}
    <img id="logo" class="logo" src="/favicon.ico"/>
  </div>
</div>


<div id="search-container" style="float:right;position: fixed;right:0px; bottom:0px; z-index:999999;">
    <input type="text" id="search-input" placeholder="search..." style="margin:2px">
    <div id="results-container" style="background-color: white;max-width:300px;"></div>
</div>
