$highlight-background   : #fff;
$highlight-foreground   : #000;
$highlight-comment      : #067d17;
$highlight-red          : #f00;
$highlight-orange       : #ff6a00;
$highlight-yellow       : #9e880d;
$highlight-green        : #067d17;
$highlight-aqua         : #000;
$highlight-blue         : #0033b3;
$highlight-purple       : #6A0AAB;
